:root {
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-36: 36px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;
    /* --color-- */
    --color-brown: #70675f;
    --color-black: #000000;
    --color-yellow: #ffd600;
    --color-green: #00a106;
    --color-red: #ff0000;
    --color-red-2: #ff1300;
    --color-slati: #A59A90;
}