@import url(../css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: ModernoFBComp;
    src: url(../font-family/modernofbcomp-semibold.otf);
}


* {
    padding: 0%;
    margin: 0%;
    list-style-type: none !important;
    box-sizing: border-box;
    text-decoration: none !important;
}


.header-1 {
    background: #000000;
}

.header-1 marquee div {
    min-height: 52px;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee div {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;
}

.marquee div:hover {
    animation-play-state: paused
}

.h-text {
    color: #FFFFFF;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}

.border-red {
    border: 1px solid #FF0000;
    border-radius: 5px;
    padding: 3px;
    margin-left: 8px;
    color: #FF0000;
}

.border-y {
    border: 1px solid #FFD600;
    border-radius: 5px;
    padding: 3px;
    margin-left: 8px;
    color: #FFD600;
}

.bg-img {
    background-image: url(../images/bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hustlin-head {
    font-family: 'ModernoFBComp', sans-serif;
    font-size: var(--fs-24);
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: var(--color-black);
}


.gap-18 {
    gap: 18px;
}

.walletbox {
    /* width: Hug (165px)px;
    height: Hug (43px)px; */
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border: 2px;
    background: var(--color-yellow);
    border: 2px solid var(--color-black);
    font-family: Noto Serif;
    font-size: var(--fs-14);
    font-weight: 600;
    line-height: 19.07px;

}

.walletbox:hover {
    background-color: #000000;
    color: #FFD600;
    filter: drop-shadow(0 0 15px #FFD600);
}



.bordr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.about {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    color: var(--color-black);
}

.bordr1 {
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px;
    border-collapse: collapse;
}

.br-lft {
    border-left: none;
}

.sect-3-head {
    font-family: 'ModernoFBComp', sans-serif;
    font-size: var(--fs-157);
    font-weight: 400;
    line-height: 188.4px;
    text-align: center;
    box-shadow: 2px 2px 4px 0px #00000040;

    box-shadow: 0px 4px 4px 0px #00000040 inset;

    box-shadow: 2px 2px 1px 0px #FFFFFF52 inset;

}

.boderrr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.news {
    font-family: 'Noto Serif', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 100.8px;
    color: var(--color-black);
    text-align: left;
    max-width: 1140px;
}

.box{
    padding: 86px, 52px, 86px, 43px !important;
}
.news-title {
    font-family: 'Noto Serif', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: var(--color-black);
}

.news-head {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-18);
    font-weight: 400;
    line-height: 27px;
    color: var(--color-black);
    max-width: 475px;
}

.outline-black {
    outline: 2px solid #000000;
}

.w-fit {
    width: fit-content;
}

.mt-16{
    margin-top: 16px;
}

.pl-43{
    padding-left: 43px !important;
}

.two {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    color: var(--color-black);
}

.etam {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-36);
    font-weight: 600;
    line-height: 39.85px;
    text-align: left;
    color: var(--color-black);
}

.diam {
    font-family: "Noto Serif",serif;
    font-size: var(--fs-16);
    color: var(--color-black);
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
}
.childslider{
    width: 380px;
    height: 257px;
    padding: 20px;
}
.br-top{
    border-top: none;
}
.br-bottom{
    border-bottom: none;
}

.c-p{
    cursor: pointer;
}
/* Make it move */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}